@import "reset";
@font-face {
    font-family: "Montserrat";
    src: url(../css/fonts/Montserrat-VariableFont_wght.ttf);
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Montserrat";
    background-color: #000777;
    padding: 1rem;
    h1{
        font-size: 3rem;
        flex-grow: 1;
        padding: 2rem;
        color: #ffffaa
        
    }
    h2{
        flex-grow: 1;
        color: white;

    }
}